.item {
	padding: 12px 0;

	display: flex;
	align-items: center;
	justify-content: space-between;
}

.offer {
	display: flex;
	align-items: center;
	gap: 12px;
}

.position {
	min-width: 40px;

	font-family: var(--font-rubik);
	font-weight: 700;

	font-size: 12px;
	line-height: 1.2em;
	text-align: center;

	color: var(--color-grey-100);

	&.position-1,
	&.position-2,
	&.position-3 {
		font-size: 24px;
	}

	&.position-1 {
		color: #ffdb49;
	}

	&.position-2 {
		color: #ff6392;
	}

	&.position-3 {
		color: #ae63ff;
	}
}

.avatar {
	width: 48px;
	height: 48px;

	display: block;

	border-radius: 10px;
}

.name {
	font-family: var(--font-rubik);
	font-weight: 700;

	font-size: 14px;
	line-height: 1.2em;

	color: var(--color-white);
}

.earning {
	padding: 8px;
	width: 80px;

	font-family: var(--font-rubik);
	font-weight: 700;

	font-size: 10px;
	line-height: 1.2em;

	display: flex;
	align-items: center;
	justify-content: end;
	gap: 4px;

	color: var(--color-white);
}

.caseBadge {
	display: inline-flex;
	align-items: center;
	background: linear-gradient(90deg, rgba(174, 99, 255, 0) 0%, rgba(174, 99, 255, 0.3) 100%);
	padding: 4px 10px;
	border-radius: 9px;
	font-weight: 500;
	font-size: 10px;
	color: #fee1ff;
	line-height: 1;
	gap: 2px;
	height: 28px;

	&__amount {
		white-space: nowrap;
	}

	&__icon {
		width: 16px;
		height: 16px;
		flex-shrink: 0;
	}
}

.statsWrapper {
	display: inline-flex;
	align-items: center;
	justify-content: space-between;
	width: fit-content;
}
