.button {
	position: relative;
	background: #000;
}

.salePlank {
	position: absolute;
	padding: 4px 6px;
	right: 12px;
	top: 12px;
	font-size: 12px;
	border-radius: 12px;
    text-align: center;
	background-color: #7F47F3;
}