.onboarding_container {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	position: absolute;
	z-index: 10000;
	user-select: none;
}

.page {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	text-align: center;
	padding: 20px;
	box-sizing: border-box;
	touch-action: pan-y;
	position: relative;
	text-align: left;

	.text {
		width: 100%;
		justify-content: center;
		flex-direction: column;
		align-items: left;

		h1 {
			font-family: var(--font-family);
			font-weight: 700;
			font-size: 35px;
			line-height: 120%;
			background: radial-gradient(
				96.08% 125.64% at 8.42% 19%,
				rgb(49, 90, 243) 0%,
				rgb(174, 99, 255) 50.899964570999146%,
				rgb(242, 66, 255) 100%
			);
			background-clip: text;
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			margin-top: 17px;
		}

		p {
			font-family: var(--font-family);
			font-weight: 500;
			font-size: 17px;
			color: #aaa;
		}

		.highlight {
			color: white;
		}
	}

	.onboarding-image {
		user-select: none;
		object-fit: contain;
		margin: 0 auto 20px;

		&--type1 {
			width: auto;
			height: auto;
			aspect-ratio: 308.86 / 210.71;
		}

		&--type2 {
			width: auto;
			height: auto;
			aspect-ratio: 263.79 / 177.69;
		}
	}

	button {
		border-radius: 24px;
		padding: 15px 12px;
		margin-top: 33px;
		width: 100%;
		height: 58px;
		min-width: 50px;
		outline: none;
		border: none;
		box-shadow:
			inset 0 4px 9px 0 #e0e5ff,
			inset 0 -4px 8px 0 #c8afff;
		background: radial-gradient(96.08% 125.64% at 8.42% 19%, #315af3 0%, #ae63ff 50.9%, #f242ff 100%);
		font-family: var(--font-family);
		font-weight: 500;
		font-size: 17px;
		line-height: 120%;
		text-align: center;
		color: black;
	}

	.dots {
		display: flex;
		gap: 10px;
		margin-top: 20px;
		justify-content: center;

		.dot {
			width: 10px;
			height: 10px;
			border-radius: 50%;
			background-color: #aaa;
			transition: background-color 0.3s ease;

			&--active {
				background-color: white;
			}
		}
	}
}
