.container {
	display: flex;
	flex-direction: column;
	gap: 12px;
	background-color: #161616;
	border-radius: 12px;
	width: 100%;
}

.row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #383838f0;
	font-weight: 600;
	font-size: 14px;
}

.labelBlock {
	display: flex;
	align-items: center;
	gap: 4px;
}

.label {
	flex: 1;
}

.valueBlock {
	display: flex;
	align-items: center;
	gap: 4px;
	color: white;
	font-size: 14px;
}

.value {
	font-weight: bold;
}

.icon {
	width: 16px;
	height: 16px;
}
