.wrapper {
	position: relative;
	z-index: 10;
	display: flex;

	flex-direction: column;
	justify-content: space-between;

	height: 100dvh;
	padding: 40px 20px;

	color: #d6baff;

	.header {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 8px;
	}
}

.text {
	text-align: center;
	color: var(--color-white);

	h1 {
		color: #d6baff;
		font-size: 24px;
		font-weight: 600;
		margin-bottom: 16px;
	}
	h2 {
		font-size: 24px;
	}

	p {
		font-size: 16px;
		line-height: 1.4;
		margin: 8px 0;
	}
}

.button {
	position: relative;
	align-self: center;
	background: #1c1c1e;
	color: white;
	padding: 14px 32px;
	border: none;
	border-radius: 20px;
	font-size: 16px;
	font-weight: 500;
	width: 100%;
	max-width: 350px;
}

.title {
	width: 100%;

	font-family: var(--font-rubik);
	font-weight: 700;

	font-size: 24px;
	line-height: 1.2em;
	text-align: center;

	position: relative;
	display: inline-block;

	.back {
		width: 100%;
		height: 100%;

		position: absolute;
		top: 0;
		left: 0;

		background-image: radial-gradient(
			ellipse 125% 95% at 8% 20%,
			rgba(227, 232, 255, 0.672) 0%,
			rgb(200, 175, 255) 10%
		);
		-webkit-background-clip: text;
		background-clip: text;
		color: transparent;

		pointer-events: none;
	}

	.front {
		width: 100%;
		height: 100%;

		position: absolute;
		top: 0;
		left: 0;

		color: rgba(254, 254, 255, 0.5);
		pointer-events: none;
	}
}
