.modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 24px;
}

.head {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.img {
    position: relative;

    &::before {
        content: "";

        margin: auto;

        width: 70px;
        height: 70px;

        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;

        border-radius: 100%;
        background: #8047f3d6;

        filter: blur(32px);
    }
}
.title {
    font-family: var(--font-rubik);
    font-weight: 700;

    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    text-align: center;

    color: #c0adfe;

    &.error {
        color: #ff6392;
    }
}

.text {
    font-family: var(--font-rubik);
    font-weight: 500;
    word-wrap: break-word;
    word-break: break-word;

    max-width: 180px;

    white-space: pre-wrap;
    text-align: center;

    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;

    color: var(--color-white);
}

.body {
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 12px;
}

.button {
    padding: 12px 20px;

    gap: 4px;

    border-radius: 12px;
}
