.tabs {
	display: flex;
	justify-content: space-around;
	gap: 2px;
	background: #111;
	padding: 4px 8px;
	border-radius: 9999px;

	margin-top: 16px;

	position: relative;
	z-index: 2;
}

.tab {
	font-family: var(--font-rubik);
	font-weight: 500;
	font-size: 14px;

	padding: 11px;
	background: transparent;
	border: none;
	border-radius: 9999px;
	color: white;

	cursor: pointer;
	transition:
		background 0.2s ease,
		color 0.2s ease;
}

.active {
	background: rgba(255, 255, 255, 0.1);
	color: white;
}

.seeAll {
	border: 1px solid rgba(255, 255, 255, 0.2);
	padding: 8px 18px;
}

.title {
	width: 100%;

	font-family: var(--font-rubik);
	font-weight: 700;

	font-size: 14px;
	line-height: 1.2em;
	text-align: center;

	position: relative;
	display: inline-block;

	.back {
		width: 100%;
		height: 100%;

		position: absolute;
		top: 0;
		left: 0;

		background: var(--color-primary-gradient);
		-webkit-background-clip: text;
		background-clip: text;
		color: transparent;

		pointer-events: none;
	}

	.front {
		width: 100%;
		height: 100%;

		position: absolute;
		top: 0;
		left: 0;

		color: var(--color-white);

		mix-blend-mode: overlay;

		pointer-events: none;
	}
}
