.tickets {
	padding: 8px 12px;

	position: relative;
	z-index: 2;

	overflow: hidden;

	border-radius: 10px;
	border: 1px solid var(--color-grey-200);
	box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.05);

	&.border::before {
        content: "";
        position: absolute;
        inset: 0;
        padding: 1px;
        border-radius: inherit;
        background: linear-gradient(
          90deg,
          #315af3 0%,
          #ae63ff 50%,
          #f242ff 100%
        );
        background-size: 300% 300%;
        animation: gradientShift 5s linear infinite;
        -webkit-mask: 
          linear-gradient(#fff 0 0) content-box, 
          linear-gradient(#fff 0 0);
        -webkit-mask-composite: xor;
                mask-composite: exclude;
        z-index: 0;
      }

      @keyframes gradientShift {
        0%   { background-position: 0% 50%; }
        50%  { background-position: 100% 50%; }
        100% { background-position: 0% 50%; }
      }
}

.content {
	display: flex;
    position: relative;
    z-index: 1;
	align-items: center;
	gap: 4px;
}

.img {
	width: 40px;
	height: 40px;

	display: block;
}

.icon {
	margin-right: 4px;
}

.value {
	font-family: var(--font-rubik);
	font-weight: 700;

	font-size: 14px;
	line-height: 1.2em;

	color: var(--color-white);
}
