.circular-progress {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;

	// CSS variable for progress value
	--progress-value: 0%;
}

.progress-background {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background-color: transparent;
	border: 4px solid var(--color-blue-200);
}

.progress-fill {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 9999px;
	background: conic-gradient(#3b82f6 var(--progress-value), transparent 0);
	transform: rotate(-0deg);
	transition: background 0.5s ease-in-out;
}

.progress-cover {
	position: absolute;
	top: 6px;
	left: 6px;
	width: calc(100% - 12px);
	height: calc(100% - 12px);
	border-radius: 50%;
	background-color: #000;
}
