.overlay {
	width: 100%;
	height: 100%;

	position: fixed;
	top: 0;
	left: 0;
	z-index: 5;

	display: flex;
	align-items: center;
	justify-content: center;

	background: var(--color-black-80);
	backdrop-filter: blur(0.5px);
}

.modal {
	padding: 24px 32px;

	width: 100%;
	max-width: 280px;

	display: flex;
	flex-direction: column;
	align-items: center;

	position: relative;

	border-radius: 12px;
	background-image: linear-gradient(180deg, rgba(202, 48, 209, 0.2) 0%, rgba(202, 48, 209, 0) 100%);
	background-repeat: no-repeat;
	background-color: var(--color-black);
	background-size: 100% 120px;

	&.error {
		background-image: linear-gradient(180deg, rgba(255, 99, 146, 0.2) 0%, rgba(255, 99, 146, 0) 100%);
	}
}
