.table {
	margin-top: 20px;
	padding-bottom: 180px;

	position: relative;
}

.body {
	display: flex;
	flex-direction: column;

	overflow: hidden;

	border-radius: 12px;
	border: 1px solid var(--color-grey-200);
}

.row {
	display: grid;
	grid-template-columns: 100px auto;

	&:not(:last-child) {
		border-bottom: 1px solid var(--color-grey-200);
	}
}

.label {
	padding: 15px 8px;

	font-family: var(--font-rubik);
	font-weight: 500;

	font-size: 12px;
	line-height: 1.2em;

	border-right: 1px solid var(--color-grey-200);
	background: var(--color-grey-300);
	color: var(--color-grey-100);
}

.value {
	padding: 6px 12px;

	font-family: var(--font-rubik);
	font-weight: 500;

	font-size: 12px;
	line-height: 1.2em;

	display: flex;
	align-items: center;
	gap: 6px;

	color: var(--color-white);

	span {
		padding: 4px 6px;

		border-radius: 20px;
		background: var(--color-blue-200);
		color: var(--color-blue-100);
	}
}
