.container {
	height: 80vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.skipContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	color: var(--color-white-25);

	gap: 8px;

	position: fixed;
	bottom: 20vh;
	z-index: 10;
	pointer-events: visible;

	animation: fadeInUp 0.4s ease-out forwards;
}

@keyframes fadeInUp {
	0% {
		opacity: 0;
		transform: translateY(20px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
