.card {
	position: relative;
	background-color: var(--color-grey-300);
	border-radius: 12px;
	padding: 20px;
	display: flex;
	width: 100%;
	min-width: 100%;
	flex-direction: column;
	gap: 18px;
	overflow: hidden;

	.level {
		display: flex;
		gap: 6px;
	}

	.info {
		display: flex;
		gap: 0.2em;
		font-size: 14px;
		line-height: 1.2em;

		color: var(--color-grey-100);

		.rate {
			font-weight: 700;

			color: var(--color-white);
		}
	}

	.decor {
		position: absolute;
		right: -20%;
		top: -70%;
		transform: rotate(22deg);
	}

	.icon {
		margin-right: 6px;
		&--gray {
			fill: white;
		}
		&--blue {
			fill: var(--color-blue-100);
		}
		&--pink {
			fill: #f352ff;
		}
		&--red {
			fill: var(--color-rarity-mythic);
		}
		&--violet {
			fill: #ae63ff;
		}
		&--gold {
			fill: var(--color-rarity-legendary);
		}
	}

	.badge {
		position: absolute;
		z-index: 1;
		right: 12px;
		top: 12px;
		background-image: var(--color-primary-gradient);
		box-shadow:
			inset 0 4px 9px 0 rgb(224, 229, 255),
			inset 0px -4px 8px 0px rgb(200, 175, 255);
		border-radius: 9999px;
		padding: 8px 12px;
		font-size: 10px;
		font-weight: 700;
		color: var(--color-grey-300);
		text-transform: uppercase;
		letter-spacing: 0.05em;

		&--violet {
			background-image: var(--color-primary-gradient);
			box-shadow:
				inset 0 4px 9px 0 rgb(224, 229, 255),
				inset 0px -4px 8px 0px rgb(200, 175, 255);
		}
		&--gold {
			background-image: linear-gradient(135deg, #f8e472f2 0%, #ffa500 100%);
			box-shadow:
				inset 0 4px 9px 0 rgba(232, 228, 200, 0.8),
				inset 0px -4px 8px 0px rgba(242, 188, 27, 0.361),
				0 4px 12px rgba(255, 215, 0, 0.4);
		}
	}
}
