.button {
	position: relative;
	padding: 14px 20px;

	font-family: var(--font-rubik);
	font-weight: 500;

	font-size: 14px;
	line-height: 1.2em;

	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;

	position: relative;
	z-index: 2;

	border-radius: 24px;
	border: 1px solid var(--color-grey-200);
	background: var(--color-grey-300);
	color: var(--color-white);

	transition:
		background-color 0.3s ease,
		color 0.3s ease,
		fill 0.3s ease,
		stroke 0.3s ease;

	&:active {
		background: var(--color-grey-200);
		color: var(--color-white-40);
	}

	&.secondary {
		background: #000;
	}

	&.primary {
		overflow: hidden;

		border: 0;
		background: var(--color-primary-gradient);
		color: var(--color-black);

		box-shadow:
			inset 0 4px 9px 0 rgb(224, 229, 255),
			inset 0px -4px 8px 0px rgb(200, 175, 255);

		transition: opacity 0.3s ease;

		&:before {
			content: '';

			width: 120px;
			height: 120px;

			position: absolute;
			top: -77px;
			left: -68px;
			z-index: -1;

			border-radius: 50%;
			background: #fff7cc;

			filter: blur(60px);
			pointer-events: none;
		}

		&:active {
			opacity: 0.8;
		}
	}
}

.salePlank {
	position: absolute;
	padding: 4px 6px;
	right: 12px;
	top: 12px;
	font-size: 12px;
	border-radius: 12px;
    text-align: center;
	background-color: #7F47F3;
}