.popup {
	background: #121212;
	border-radius: 24px;
	padding: 24px;
	text-align: center;
	width: 100%;
	max-width: 600px;
	margin: auto;
	color: white;
	position: absolute;
	top: 24px;
	left: 0;
	z-index: 10;
	height: 85vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.icon {
	width: 48px;
	height: 48px;
	margin: 0 auto 16px;
}

.title {
	font-size: 20px;
	font-weight: 700;
	margin-bottom: 4px;
}

.subtitle {
	font-size: 14px;
	color: #cfcfcf;
	margin-bottom: 24px;
}

.grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 16px;
}

.card {
	background: transparent;
	border: none;
	border-radius: 16px;
	padding: 12px 8px;
	cursor: pointer;
	color: white;
	transition: background 0.2s;

	display: flex;
	flex-direction: column;
	align-items: center;
}

.active {
	background: rgba(255, 255, 255, 0.1);
}

.season {
	font-size: 16px;
	font-weight: 600;
	margin-bottom: 4px;
}

.date {
	font-size: 12px;
	color: #cfcfcf;
}

.button {
	left: 50%;

	width: 100%;
	max-width: 352px;

	transform: translate(-50%);
}
