.rouletteWrapper {
	position: relative;
	width: 100%;
	height: 200px;
	display: flex;
	align-items: center;
	justify-content: center;

	.marker {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 2px;
		height: 200px;
		background-color: #d2a8ff;
		transform: translate(-50%, -50%);
		z-index: 10;
		box-shadow: 0px 0px 2.3183982372283936px #7722d3;
	}
}

.rouletteContainer {
	width: 100%;
	height: 120px;
	overflow: hidden;
	position: relative;
	backface-visibility: hidden;
	transform-style: preserve-3d;
	perspective: 1000px;

	// &::before,
	// &::after {
	//   content: '';
	//   position: absolute;
	//   top: 0;
	//   width: 25px;
	//   height: 100%;
	//   z-index: 5;
	//   pointer-events: none;
	//   backface-visibility: hidden;
	//   background-color: #000;

	// }

	// &::before {
	//   left: 0;
	//   background: #000;
	// }

	// &::after {
	//   right: 0;
	//   background: #000;
	// }

	.giftList {
		display: flex;
		position: absolute;
		height: 120px;
		gap: 5px;
		will-change: transform;
	}

	.gift {
		width: 100px;
		height: 100%;
		flex-shrink: 0;
	}
}
