.head {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img {
    position: relative;

    img {
        width: 96px;
        height: 96px;

        display: block;
    }

    &::before {
        content: "";

        margin: auto;

        width: 48px;
        height: 48px;

        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;

        border-radius: 100%;
        background: #7f47f3;

        filter: blur(32px);
    }

    .stars {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 180px;
        height: 160px;
        z-index: 1;
        pointer-events: none;
        user-select: none;
    }
}

.title {
    margin-top: 16px;

    font-family: var(--font-rubik);
    font-weight: 700;

    font-size: 20px;
    line-height: 1.2em;
    text-align: center;

    color: #c0adfe;

    &.error {
        color: #ff6392;
    }
}

.text {
    margin-top: 8px;

    max-width: 180px;

    font-family: var(--font-rubik);
    font-weight: 500;

    font-size: 14px;
    line-height: 1.2em;
    text-align: center;

    color: #AAAAAA;
}

.body {
    margin-top: 24px;

    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 12px;
}

.button {
    padding: 12px 20px;

    gap: 4px;

    border-radius: 12px;
}

.confirm {
    position: relative;

    overflow: hidden;

    border: 0;

    &::before {
        content: "";

        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;

        background: var(--color-primary-gradient);
        border-radius: inherit;
    }

    &::after {
        content: "";

        position: absolute;
        top: 1px;
        left: 1px;
        right: 1px;
        bottom: 1px;
        z-index: -1;

        background: var(--color-grey-300);
        border-radius: 11px;
    }
}

.buttonsRow {
    display: flex;
    flex-direction: row;
    gap: 8px;
    width: 100%;

    > button {
        flex: 1;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 4px;
        padding: 12px 8px;
    }
}