.volumeBar {
	width: 100%;
	max-width: 600px;
	color: white;
}

.track {
	height: 8px;
	background-color: #2c2c2c;
	border-radius: 4px;
	overflow: hidden;
	margin-bottom: 6px;
}

.fill {
	height: 100%;
	background-color: white;
	width: 0;
	transition: width 0.3s ease;
	border-radius: 99999px;

	&--gray {
		background-color: white;
	}
	&--blue {
		background-color: var(--color-blue-100);
	}
	&--pink {
		background-color: #f352ff;
	}
	&--red {
		background-color: var(--color-rarity-mythic);
	}
	&--violet {
		background-color: #ae63ff;
	}
	&--gold {
		background-color: var(--color-rarity-legendary);
	}
}

.labels {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 14px;
}

.min,
.max {
	opacity: 0.7;
	font-size: 10px;
}

.center {
	font-weight: bold;
	display: flex;
	align-items: center;
	gap: 4px;
	font-size: 10px;
	color: var(--color-grey-100);
}

.icon {
	font-size: 12px;
}
