.modal {
	width: 100%;
	background-color: rgba(0, 0, 0, 0.534);
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	display: flex;
	justify-content: center;
	align-items: center;
}

.row {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 12px 0 0 0;
}

.container {
	border: var(--color-grey-200) 1px solid;
	border-radius: 12px;
	width: 100%;
	margin: 0 12px;
	background: #000;
	padding: 24px 12px;
	margin-bottom: 50px;

	display: flex;
	flex-direction: column;
	gap: 24px;
}

.header {
	text-align: center;

	.description {
		color: var(--color-grey-100);
		font-size: 14px;
		font-weight: 400;
		margin-top: 8px;
	}
}

.purchase {
	margin-top: 5vh;

	position: relative;
}

.inputSection {
	display: block;
	width: 100%;

	.balance {
		margin-top: 8px;
		width: fit-content;
		margin-left: auto;
		display: flex;
		gap: 6px;
		align-items: center;

		.label {
			color: var(--color-grey-100);
		}
	}

	.stars {
		color: var(--color-grey-100);
		font-size: 14px;
		font-weight: 400;
		margin-top: 8px;
	}
}

.buy {
	padding: 20px;

	display: flex;
	flex-direction: column;
	gap: 18px;

	border-radius: 12px;
	background: var(--color-grey-300);
}

.field {
	padding: 12px;

	display: flex;
	align-items: center;
	gap: 8px;

	border-radius: 12px;
	background: var(--color-grey-200);
}

.icon {
	min-width: 20px;
}

.input {
	width: 100%;

	font-family: var(--font-rubik);
	font-weight: 500;

	font-size: 20px;
	line-height: 1.2em;

	border: 0;
	background: transparent;
	color: var(--color-white);

	&::placeholder {
		color: var(--color-grey-100);
	}

	&:focus {
		outline: 0;
	}

	&::-webkit-inner-spin-button,
	&::-webkit-outer-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}

	/* Firefox */
	& {
		-moz-appearance: textfield;
	}
}

.switcher {
	padding: 8px 20px;

	gap: 6px;

	border-radius: 10px;
	border: 1px solid var(--color-white-10);
}

.button {
	width: 100%;
}

// .label {
// 	padding: 6px 10px;

// 	font-family: var(--font-rubik);
// 	font-weight: 500;

// 	font-size: 14px;
// 	line-height: 1.2em;

// 	display: flex;
// 	align-items: center;
// 	gap: 4px;

// 	border-radius: 10px;
// 	background: var(--color-grey-200);
// 	color: var(--color-white);
// }

.options {
	margin-top: 12px;

	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 8px;
}

.option {
	width: 100%;

	cursor: pointer;
}

.title {
	width: 100%;

	font-family: var(--font-rubik);
	font-weight: 700;

	font-size: 24px;
	line-height: 1.2em;
	text-align: center;

	position: relative;
	display: inline-block;

	.back {
		width: 100%;
		height: 100%;

		position: absolute;
		top: 0;
		left: 0;

		background: var(--color-primary-gradient);
		-webkit-background-clip: text;
		background-clip: text;
		color: transparent;

		pointer-events: none;
	}

	.front {
		width: 100%;
		height: 100%;

		position: absolute;
		top: 0;
		left: 0;

		color: var(--color-white);

		mix-blend-mode: overlay;

		pointer-events: none;
	}
}

.info {
	margin-top: 4px;
	color: var(--color-grey-100);
	font-size: 12px;
	text-align: center;
}
