.card {
	padding: 8px;

	width: auto;
	min-width: 62px;
	min-height: 62px;

	display: inline-flex;
	justify-content: center;

	position: relative;
	z-index: 2;

	overflow: hidden;

	border-radius: 10px;
}

.content {
	display: flex;
	flex-direction: column;
	align-items: center;
	// justify-content: center;
	gap: 2px;
}

.img {
	display: block;

	width: 44px;
	height: 44px;

	&.promocode {
		margin-top: 10px;
		width: 40px;
		height: 30px;
	}
}

.img {
	display: block;

	width: 44px;
	height: 44px;

	&.promocode {
		margin-top: 10px;
		width: 40px;
		height: 30px;
	}
}

.large {
	width: 64px;
	height: 64px;

	&.promocode {
		width: 64px;
		height: 51px;
		margin-bottom: 2px;
	}
}

.xl {
	width: 84px;
	height: 84px;

	&.promocode {
		margin-top: 13px;
		margin-bottom: 9px;
		width: 84px;
		height: 62px;
		object-fit: contain;
	}
}

.price {
	padding: 6px 8px;

	display: flex;
	align-items: center;
	gap: 2px;

	border-radius: 10px;
}

.value {
	font-family: var(--font-rubik);
	font-weight: 500;

	font-size: 14px;
	line-height: 1.2em;

	color: var(--color-white);
}

.background.large {
	width: 100%;
	height: 100%;

	min-height: 112px;

	background: var(--color-black);
}
