.navbar {
	padding-bottom: 24px;

	width: 100%;

	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 2;

	// &::before {
	// 	content: '';

	// 	width: 100%;
	// 	height: 240px;

	// 	position: fixed;
	// 	bottom: 0;
	// 	left: 0;
	// 	z-index: -1;

	// 	background: linear-gradient(180deg, rgba(1, 1, 1, 0) 0%, #010101 75%);

	// 	pointer-events: none;
	// }
}

.container {
	display: flex;
	justify-content: center;
}

.nav {
	display: flex;

	border-radius: 32px;
	background: var(--color-grey-300);
}