.claimButton {
    font-size: 12px;
    height: 32px;
    padding: 12px 14px;
    border-radius: 24px;
    border: 1px solid #f352ff21;
    background: radial-gradient(238.56% 104.27% at 0% 55.68%, #542877 0%, #000 53.39%, #412d7b 100%);
    box-shadow: 0 0 16px 5px rgba(175, 86, 254, 0.5) inset;
}

.countdown {
    font-size: 12px;
    position: relative;
    z-index: 1;
    height: 32px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    padding: 8px 12px;
    border: 1px solid var(--color-grey-200);
    background: #000;
    color: #aaa;
    border-radius: 24px;
}