.header {
	width: 100%;

	position: absolute;
	top: 20px;
	left: 0;
	z-index: 10;
}

.container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	min-height: 42px;
}

.leftSection {
	display: flex;
	align-items: center;
	gap: 8px;
}

.planeGameHeader {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.demoMode {
	display: flex;
	align-items: center;
	padding: 8px 12px;
	background-color: #171717;
	border-radius: 10px;
	
	&__label {
		font-size: 12px;
		color: #aaa;
		white-space: nowrap;
	}
	
	&__checkbox {
		position: relative;
		appearance: none;
		display: flex;
		width: 45px;
		height: 20px;
		background: #787878;
		margin: 0 0 0 6px;
		border-radius: 70px;
		transition: 0.2s linear all;
		cursor: pointer;
		
		&:before {
			content: '';
			position: absolute;
			width: 28px;
			height: 17px;
			top: 50%;
			left: 2px;
			transform: translate(0, -50%);
			background-color: #AAAAAA;
			border-radius: 70px;
			pointer-events: none;
			transition: 0.2s linear all;
		}
	}
}

.demoSwitchPlane {
	padding-top: 10px;
	padding-bottom: 10px;

	.demoMode__label {
		font-size: 14px;
		color: #fff;
	}
}

.checkboxActive {
	background: radial-gradient(96.05% 96.05% at 8.42% 19%, #315AF3 0%, #AE63FF 50.9%, #F242FF 100%);
	box-shadow: inset 0px -2.85714px 5.71429px #C8AFFF, inset 0px 2.85714px 6.42857px #E0E5FF;
	
	&:before {
		content: '';
		position: absolute;
		width: 28px;
		height: 17px;
		top: 50%;
		left: calc(100% - 30px);
		transform: translate(0, -50%);
		background-color: #fff;
		border-radius: 70px;
		pointer-events: none;
	}
}
