.header {
	padding-top: 24px;

	position: relative;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 24px;
}

.title {
	width: 100%;

	font-family: var(--font-rubik);
	font-weight: 700;

	font-size: 24px;
	line-height: 1.2em;
	text-align: center;

	position: relative;
	display: inline-block;

	.back {
		width: 100%;
		height: 100%;

		position: absolute;
		top: 0;
		left: 0;

		background: var(--color-primary-gradient);
		-webkit-background-clip: text;
		background-clip: text;
		color: transparent;

		pointer-events: none;
	}

	.front {
		width: 100%;
		height: 100%;

		position: absolute;
		top: 0;
		left: 0;

		color: var(--color-white);

		mix-blend-mode: overlay;

		pointer-events: none;
	}
}
