.head {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.container {
	position: relative;
	overflow-y: auto;
	height: 90vh;
}
.buttons {
	position: fixed;
	left: 50%;
	bottom: 94px;

	transform: translate(-50%);
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 auto;

	z-index: 10;

	gap: 8px;
	width: 100%;
	max-width: 352px;

	.button {
		// min-width: 352px;
		width: 100%;
		display: flex;
		flex-shrink: 1;
	}
}

.sort {
	padding: 8px 12px;

	gap: 6px;
}

.list {
	margin-top: 32px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 8px;
	img {
		width: 88px;
		height: 88px;
		@media (max-width: 370px) {
			width: 66px;
			height: 66px;
		}
	}
}

.block {
	height: 20vh;
}

.link {
	display: block;
}

.card {
	width: 100%;
}

.description {
	position: relative;
	z-index: 1;
	color: var(--color-grey-100);
	font-size: 14px;
	font-weight: 400;
	margin-top: 8px;
	width: 286px;
	text-align: center;
}

.header {
	margin-top: 80px;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;

	.title {
		width: 100%;

		font-family: var(--font-rubik);
		font-weight: 700;

		font-size: 24px;
		line-height: 1.2em;
		text-align: center;

		position: relative;
		display: inline-block;

		.back {
			width: 100%;
			height: 100%;

			position: absolute;
			top: 0;
			left: 0;

			background: var(--color-primary-gradient);
			-webkit-background-clip: text;
			background-clip: text;
			color: transparent;

			pointer-events: none;
		}

		.front {
			width: 100%;
			height: 100%;

			position: absolute;
			top: 0;
			left: 0;

			color: var(--color-white);

			mix-blend-mode: overlay;

			pointer-events: none;
		}
	}
}

.label {
	padding: 6px 10px;

	font-family: var(--font-rubik);
	font-weight: 500;

	font-size: 14px;
	line-height: 1.2em;

	display: flex;
	align-items: center;
	gap: 4px;

	border-radius: 10px;
	background: var(--color-grey-200);
	color: var(--color-white);
}

.wrapper {
	position: relative !important;
	width: 100%;
	display: flex;
	flex-shrink: 0;
}

.popup {
	position: absolute;
	display: inline-block;
	top: -150%;
	right: 0%;
	// transform: translateX(-50%);
	margin-top: 10px;
	width: max-content;
	padding: 10px;
	background-color: white;
	border-radius: 12px;
	box-shadow: 0 10px 12px rgba(0, 0, 0, 0.3);
	z-index: 10;

	// Animation
	animation: popupFadeIn 0.3s ease-out forwards;
	opacity: 0;
}

.tail {
	position: absolute;
	bottom: -4px;
	right: 24px;
	transform: rotate(45deg);
	width: 12px;
	height: 12px;
	background-color: var(--color-white);

	border-radius: 4px;
	z-index: -1;
}

.text {
	font-size: 12px;
	color: var(--color-black);
	margin: 0;
	.link {
		color: var(--color-blue-100);

		&:active {
			color: var(--color-blue-300);
		}
	}
}

@keyframes popupFadeIn {
	0% {
		opacity: 0;
		transform: translate(0, 4px) scale(0.95);
	}
	100% {
		opacity: 1;
		transform: translate(-10%, 0) scale(1);
	}
}
