.actions {
	padding-bottom: 120px;
	height: 60vh;
	overflow-y: scroll;
	-ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox, Safari 18.2+, Chromium 121+ */
}

.actions::-webkit-scrollbar { 
    display: none;  /* Older Safari and Chromium */
}

.title {
	font-family: var(--font-rubik);
	font-weight: 700;

	font-size: 24px;
	line-height: 1.2em;

	color: var(--color-grey-100);
}

.body {
	margin-top: 16px;

	display: flex;
	flex-direction: column;
}
