.sup_container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	z-index: 1000;
	animation: fadeIn 0.5s ease-in-out;
}

.overlay {
	width: 100%;
	height: 100%;
}

.container {
	position: fixed;
	width: 100vw;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	justify-content: center;
	align-items: flex-end;
}

.content {
	display: flex;
	z-index: 990;
	flex-direction: column;
	border-radius: 16px 16px 0 0;
	background-color: #212121;
	width: 100%;
	height: 430px;
}

.content {
	animation: slideUp 0.7s ease-in-out;
}

.cancel {
	z-index: 90;
	padding-top: 16px;
	padding-right: 16px;
}

.preview_content {
	width: 100%;
	height: 210px;
}

.cancel_container {
	display: flex;
	justify-items: end;
	justify-content: flex-end;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes slideUp {
	from {
		opacity: 0.6;
		transform: translateY(150%);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

.bg {
	border-radius: 16px 16px 0 0;
	z-index: 24;
	position: absolute;
	width: 100%;
	height: 210px;
	background-size: cover;
	background-position: center;
}

.info_block {
	margin-top: 28px;
	z-index: 90;
	padding-left: 20px;
	padding-right: 20px;
}

.radial_text {
	background: radial-gradient(circle at 35% 50%, #315af3, #ae63ff 51%, #f242ff);
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.info_block h3 {
	color: white;
}

.info_text {
	color: #aaaaaa;
	font-size: 16px;
	margin-top: 12px;
}

.radial_text::before {
	content: attr(data-text);
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	color: transparent;
	text-shadow:
		0 -1px 1px #faf7e5,
		0 -2px 4px #fff7cc,
		0 1px 3px rgba(255, 247, 204, 0.8);
}

.button_container {
	margin-top: 20px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.button {
	width: 359px;
	height: 58px;
}
