.content {
    position: relative;
    margin-top: 10vh;
    z-index: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-align: center;

    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }
}

.imgWrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.img {
    width: 80px;
    height: 80px;
    position: relative;

    &::before {
        content: "";

        margin: auto;

        width: 70px;
        height: 70px;

        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;

        border-radius: 100%;
        background: #8047f3d6;

        filter: blur(32px);
    }

    img {
        position: relative;
        z-index: 2;
    }

    .stars {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 190px;
        height: 180px;
        z-index: 1;
        pointer-events: none;
        user-select: none;
    }
}

.caseWrapper {
    border: 1px solid var(--color-grey-200);
    border-radius: 24px;
    margin-top: 20px;
    position: relative;
    z-index: 10;
}

.description {
    font-size: 12px;
    line-height: 1.5;
    color: var(--color-grey-900);
    width: 260px;
}

.claimButton {
    font-size: 12px;
    height: 32px;
    padding: 12px 14px;
    border-radius: 24px;
    border: 1px solid #f352ff21;
    background: radial-gradient(238.56% 104.27% at 0% 55.68%, #542877 0%, #000 53.39%, #412d7b 100%);
    box-shadow: 0 0 16px 5px rgba(175, 86, 254, 0.5) inset;
}

.blured {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);

    border-radius: 24px;
    z-index: 3;

    background: rgba(0, 0, 0, 0.25);
}
