.actions {
	width: 100%;

	position: fixed;
	bottom: 100px;
	left: 0;
	z-index: 3;
}

.container {
	display: flex;
	gap: 4px;
}

.button {
	width: 100%;
}

.label {
	padding: 6px 10px;

	font-family: var(--font-rubik);
	font-weight: 500;

	font-size: 14px;
	line-height: 1.2em;

	display: flex;
	align-items: center;
	gap: 4px;

	border-radius: 10px;
	background: var(--color-grey-200);
	color: var(--color-white);
}

.wrapper {
	position: relative;
	width: 100%;
	display: flex;
}

.popup {
	position: absolute;
	display: inline-block;
	top: -100%;
	left: 0%;
	transform: translateX(-50%);
	margin-top: 10px;
	width: max-content;
	padding: 10px;
	background-color: white;
	border-radius: 12px;
	box-shadow: 0 10px 12px rgba(0, 0, 0, 0.3);
	z-index: 10;

	// Animation
	animation: popupFadeIn 0.3s ease-out forwards;
	opacity: 0;
}

.tail {
	position: absolute;
	bottom: -4px;
	right: 24px;
	transform: rotate(45deg);
	width: 12px;
	height: 12px;
	background-color: var(--color-white);

	border-radius: 4px;
	z-index: -1;
}

.text {
	font-size: 12px;
	color: var(--color-black);
	margin: 0;
	.link {
		color: var(--color-blue-100);

		&:active {
			color: var(--color-blue-300);
		}
	}
}

@keyframes popupFadeIn {
	0% {
		opacity: 0;
		transform: translate(-45%, 4px) scale(0.95);
	}
	100% {
		opacity: 1;
		transform: translate(-50%, 0) scale(1);
	}
}
